<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huining.ssm.blog.mapper.ArticleMapper">
    <sql id="articleSql">
        article_id as articleId
        article_user_id as articleUserId
        article_title as articleTitle
        article_content as articleContent
        article_view_count as articleViewCount
        article_comment_count as articleCommentCount
        article_like_count as articleLikeCount
        article_is_comment as articleIsComment
        article_status as articleStatus
        article_order as articleOrder
        article_update_time as articleUpdateTime
        article_create_time as articleCreateTime
        article_summary as articleSummary
    </sql>

    <sql id="suArticle">
        <set>
            <if test="articleId != null">article_id = #{articleId},</if>
            <if test="articleUserId != null">article_user_id = #{articleUserId},</if>
            <if test="articleTitle != null">article_title = #{articleTitle},</if>
            <if test="articleContent != null">article_content = #{articleContent},</if>
            <if test="articleViewCount != null">article_view_count = #{articleViewCount},</if>
            <if test="articleCommentCount != null">article_comment_count = #{articleCommentCount},</if>
            <if test="articleLikeCount != null">article_like_count = #{articleLikeCount},</if>
            <if test="articleIsComment != null">article_is_comment = #{articleIsComment},</if>
            <if test="articleStatus != null">article_status = #{articleStatus},</if>
            <if test="articleOrder != null">article_order = #{articleOrder},</if>
            <if test="articleUpdateTime != null">article_update_time = #{articleUpdateTime},</if>
            <if test="articleCreateTime != null">article_create_time = #{articleCreateTime},</if>
            <if test="articleSummary != null">article_summary = #{articleSummary}</if>
        </set>
    </sql>

    <!--    com.huining.ssm.blog.entity.Article -->

    <!--  获得文章总数  -->
    <select id="countArticle" resultType="Integer">
        select count(1)
        from article
        where article_status = #{status}
    </select>

    <!--  获得文章留言总数  -->
    <select id="countArticleComment" resultType="Integer">
        select sum(article_comment_count)
        from article
        where article_status = 1
    </select>

    <!--  获得文章浏览总数  -->
    <select id="countArticleView" resultType="Integer">
        select count(article_view_count)
        from article
        where article_status = 1
    </select>

    <!--  获取最后更新的文章  -->
    <select id="getLasUupdateArticle" resultType="com.huining.ssm.blog.entity.Article">
        SELECT <include refid="articleSql"/> from article where article_status = 1 ORDER BY article_update_time desc limit 1
    </select>

    <select id="listArticleByLimit" resultType="com.huining.ssm.blog.entity.Article">
        select <include refid="articleSql"/>
        from article
        where article_status = 1 order by article_update_time desc limit #{limit};
    </select>
</mapper>