<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huining.ssm.blog.mapper.ArticleMapper">
    <sql id="articleSql">
        article_id as articleId,
        article_user_id as articleUserId,
        article_title as articleTitle,
        article_content as articleContent,
        article_view_count as articleViewCount,
        article_comment_count as articleCommentCount,
        article_like_count as articleLikeCount,
        article_is_comment as articleIsComment,
        article_status as articleStatus,
        article_order as articleOrder,
        article_update_time as articleUpdateTime,
        article_create_time as articleCreateTime,
        article_summary as articleSummary
    </sql>

    <sql id="suArticle">
        <set>
            <if test="articleUserId != null">article_user_id = #{articleUserId},</if>
            <if test="articleTitle != null and articleTitle != ''">article_title like concat('%',#{articleTitle},'%'),</if>
            <if test="articleContent != null and articleContent != ''">article_content = #{articleContent},</if>
            <if test="articleViewCount != null">article_view_count = #{articleViewCount},</if>
            <if test="articleCommentCount != null">article_comment_count = #{articleCommentCount},</if>
            <if test="articleLikeCount != null">article_like_count = #{articleLikeCount},</if>
            <if test="articleIsComment != null">article_is_comment = #{articleIsComment},</if>
            <if test="articleStatus != null">article_status = #{articleStatus},</if>
            <if test="articleOrder != null">article_order = #{articleOrder},</if>
            <if test="articleUpdateTime != null">article_update_time = #{articleUpdateTime},</if>
            <if test="articleCreateTime != null">article_create_time = #{articleCreateTime},</if>
            <if test="articleSummary != null and articleSummary != ''">article_summary = #{articleSummary}</if>
        </set>
    </sql>

    <!--    com.huining.ssm.blog.entity.Article -->
    <select id="listAllNotWithContent" resultType="com.huining.ssm.blog.entity.Article">
        select <include refid="articleSql"/>
        from article
        where article_status = 1
        ORDER BY article_id DESC
    </select>

    <!--  获得文章总数  -->
    <select id="countArticle" resultType="Integer">
        select count(1)
        from article
        where article_status = #{status}
    </select>

    <!--  获得文章留言总数  -->
    <select id="countArticleComment" resultType="Integer">
        select sum(article_comment_count)
        from article
        where article_status = 1
    </select>

    <!--  获得文章浏览总数  -->
    <select id="countArticleView" resultType="Integer">
        select count(article_view_count)
        from article
        where article_status = 1
    </select>

    <!--  获取最后更新的文章  -->
    <select id="getLasUupdateArticle" resultType="com.huining.ssm.blog.entity.Article">
        SELECT <include refid="articleSql"/> from article where article_status = 1 ORDER BY article_update_time desc limit 1
    </select>

    <select id="findArticle" resultType="com.huining.ssm.blog.entity.Article" parameterType="com.huining.ssm.blog.entity.Article">
        select <include refid="articleSql" />
        from article
        <where>
            <if test="articleId != null">and article_id = #{articleId}</if>
            <if test="articleUserId != null">and article_user_id = #{articleUserId}</if>
            <if test="articleTitle != null and articleSummary != ''">and article_title like concat('%',#{articleTitle},'%')</if>
            <if test="articleContent != null and articleSummary != ''">and article_content = #{articleContent}</if>
            <if test="articleViewCount != null">and article_view_count = #{articleViewCount}</if>
            <if test="articleCommentCount != null">and article_comment_count = #{articleCommentCount}</if>
            <if test="articleLikeCount != null">and article_like_count = #{articleLikeCount}</if>
            <if test="articleIsComment != null">and article_is_comment = #{articleIsComment}</if>
            <if test="articleStatus != null">and article_status = #{articleStatus}</if>
            <if test="articleOrder != null">and article_order = #{articleOrder}</if>
            <if test="articleUpdateTime != null">and article_update_time = #{articleUpdateTime}</if>
            <if test="articleCreateTime != null">and article_create_time = #{articleCreateTime}</if>
            <if test="articleSummary != null and articleSummary != ''">and article_summary = #{articleSummary}</if>
        </where>
        ORDER BY `article`.`article_order` DESC, `article`.`article_id` DESC
    </select>

    <select id="queryArticle" resultType="com.huining.ssm.blog.entity.Article">
        select
        article.*
        from article
        <where>
            <if test="status != null">
                and article.article_status = #{status}
            </if>
            <if test="keywords != null">
                and article.article_title LIKE concat(concat('%',#{keywords}),'%')
            </if>
            <if test="userId != null">
                and article.article_user_id = #{userId}
            </if>
            <if test="tagId != null">
                and article.article_id IN
                (SELECT article_tag_ref.article_id FROM article_tag_ref
                WHERE article_tag_ref.tag_id = #{tagId})
            </if>
            <if test="categoryId != null">
                and article.article_id IN
                (SELECT article_category_ref.article_id FROM article_category_ref
                WHERE article_category_ref.category_id = #{categoryId})
            </if>
        </where>
    </select>

    <select id="listArticleByLimit" resultType="com.huining.ssm.blog.entity.Article">
        select <include refid="articleSql"/>
        from article
        where article_status = 1 order by article_update_time desc limit #{limit};
    </select>

    <select id="listAboutArticle" resultType="com.huining.ssm.blog.entity.Article">
        SELECT <include refid="articleSql"/>
        FROM article WHERE
        article_status = 1
        and article_id IN (
            SELECT DISTINCT article_id
            FROM article_category_ref acr,( SELECT category_id FROM `article_category_ref` WHERE article_id = #{articleId} ) ids
            WHERE acr.category_id = ids.category_id AND acr.article_id != #{articleId})
        ORDER BY article_view_count DESC,article_order DESC, article_id DESC
        LIMIT 5
    </select>

    <select id="listArticleByViewCount" resultType="com.huining.ssm.blog.entity.Article">
        select <include refid="articleSql"/>
        from article
        where article_status = 1
        order by article_view_count DESC,article_order DESC, article_id DESC
        limit 5
    </select>

    <select id="getAfterArticle" resultType="com.huining.ssm.blog.entity.Article">
        select <include refid="articleSql" />
        from article
        <where>
            article_id > #{articleId} AND article_status = 1
        </where>
        order by article_id
        limit 1
    </select>

    <select id="getPreArticle" resultType="com.huining.ssm.blog.entity.Article">
        select <include refid="articleSql" />
        from article
        <where>
            article_id &lt; #{articleId} AND article_status = 1
        </where>
        order by article_id
        limit 1
    </select>

    <select id="listRandomArticle" resultType="com.huining.ssm.blog.entity.Article">
        SELECT <include refid="articleSql" />
        FROM article
        WHERE
        article_status = 1 AND article_id != #(articleId)
        ORDER BY RAND()
	    LIMIT 8
    </select>

    <select id="listRandomArticle2" resultType="com.huining.ssm.blog.entity.Article">
        SELECT <include refid="articleSql" />
        FROM article
        WHERE
        article_status = 1
        ORDER BY RAND()
	    LIMIT 8
    </select>

    <select id="listMostArticle" resultType="com.huining.ssm.blog.entity.Article">
        SELECT <include refid="articleSql" />
        FROM article
        WHERE
        article_status = 1 AND article_id != #(articleId)
        ORDER BY article_comment_count DESC,article_order DESC, article_id DESC
        LIMIT 8
    </select>
    <select id="listMostArticle2" resultType="com.huining.ssm.blog.entity.Article">
        SELECT <include refid="articleSql" />
        FROM article
        WHERE
        article_status = 1
        ORDER BY article_comment_count DESC,article_order DESC, article_id DESC
        LIMIT 8
    </select>

    <update id="increaseLikeCount">
        UPDATE article set article_like_count = article_like_count + 1 WHERE article_id = #{id};
    </update>

    <update id="increaseViewCount">
        UPDATE article set article_view_count = article_view_count + 1 WHERE article_id = #{id};
    </update>

    <update id="updateCommentCount">
        UPDATE article
        SET article_comment_count = (SELECT count(1) FROM `comment` WHERE comment.comment_article_id = article.article_id)
        WHERE article.article_id = #{id}
    </update>

    <insert id="insertArticle" parameterType="com.huining.ssm.blog.entity.Article">
        insert into article <include refid="articleSql"/>;
    </insert>

    <delete id="deleteById">
        delete from article
        where article_id = #{id}
    </delete>

    <delete id="deleteBatch" parameterType="list">
        delete from article
        where article_id in
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>

    <update id="updateArticleDetail" parameterType="com.huining.ssm.blog.entity.Article">
        update article
        <include refid="suArticle"/>
        where article_id = #{articleId}
    </update>
</mapper>