<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huining.ssm.blog.mapper.LinkMapper">
    <sql id="linkSql">
        link_id as linkId,
        link_url as linkUrl,
        link_name as linkName,
        link_image as linkImage,
        link_description as linkDescription,
        link_owner_nickname as linkOwnerNickname,
        link_owner_contact as linkOwnerContact,
        link_update_time as linkUpdateTime,
        link_create_time as linkCreateTime,
        link_order as linkOrder,
        link_status as linkStatus
    </sql>

    <sql id="suLinkSql">
        <set>
            <if test="linkId != null">link_id = #{linkId},</if>
            <if test="linkUrl != null and linkUrl !=''">link_url = #{linkUrl},</if>
            <if test="linkName != null and linkName !=''">link_name = #{linkName},</if>
            <if test="linkImage != null and linkImage !=''">link_image = #{linkImage},</if>
            <if test="linkDescription != null and linkDescription !=''">link_description = #{linkDescription},</if>
            <if test="linkOwnerNickname != null and linkOwnerNickname !=''">link_owner_nickname = #{linkOwnerNickname},</if>
            <if test="linkOwnerContact != null and linkOwnerContact !=''">link_owner_contact = #{linkOwnerContact},</if>
            <if test="linkUpdateTime != null">link_update_time = #{linkUpdateTime},</if>
            <if test="linkCreateTime != null">link_create_time = #{linkCreateTime},</if>
            <if test="linkOrder != null">link_order = #{linkOrder},</if>
            <if test="linkStatus != null">link_status = #{linkStatus},</if>
        </set>
    </sql>

    <select id="countLink" resultType="Integer">
        select count(0) from link where link_status = #{status};
    </select>

    <insert id="insertLink" parameterType="com.huining.ssm.blog.entity.BlogLink"  useGeneratedKeys="true" keyProperty="linkId">
        insert into link <include refid="suLinkSql" />
    </insert>

    <select id="getLinkById" resultType="com.huining.ssm.blog.entity.BlogLink">
        select <include refid="linkSql"/>
        from link
        where link_id = #{id}
    </select>

    <select id="listLink" resultType="com.huining.ssm.blog.entity.BlogLink">
        select <include refid="linkSql"/>
        from link
        <where>
            <if test="status != null">link_status = #{status}</if>
        </where>
    </select>

    <delete id="deleteLink">
        delete from link where link_id = #{id}
    </delete>

    <update id="updateLink" parameterType="com.huining.ssm.blog.entity.BlogLink">
        update link
        <include refid="suLinkSql"/>
        where link_id = #{linkId}
    </update>
</mapper>

<!--
link_id
link_url
link_name
link_image
link_description
link_owner_nickname
link_owner_contact
link_update_time
link_create_time
link_order
link_status

linkId
linkUrl
linkName
linkImage
linkDescription
linkOwnerNickname
linkOwnerContact
linkUpdateTime
linkCreateTime
linkOrder
linkStatus

-->