<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huining.ssm.blog.mapper.UserMapper">
    <sql id="userSql">
        user_id as userId,
        user_name as userName,
        user_pass as userPass,
        user_nickname as userNickname,
        user_email as userEmail,
        user_url as userUrl,
        user_avatar as userAvatar,
        user_last_login_ip as userLastLoginIp,
        user_register_time as userRegisterTime,
        user_last_login_time as userLastLoginTime,
        user_status as userStatus
    </sql>

    <sql id="suUserSql">
        <set>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="userPass != null and userPass != ''">user_pass = #{userPass},</if>
            <if test="userNickname != null and userNickname != ''">user_nickname = #{userNickname},</if>
            <if test="userEmail != null and userEmail != ''">user_email = #{userEmail},</if>
            <if test="userUrl != null and userUrl != ''">user_url = #{userUrl},</if>
            <if test="userAvatar != null and userAvatar != ''">user_avatar = #{userAvatar},</if>
            <if test="userLastLoginIp != null and userLastLoginIp != ''">user_last_login_ip = #{userLastLoginIp},</if>
            <if test="userRegisterTime != null">user_register_time = #{userRegisterTime},</if>
            <if test="userLastLoginTime != null">user_last_login_time = #{userLastLoginTime},</if>
            <if test="userStatus != null">user_status = #{userStatus}</if>
        </set>
    </sql>

    <select id="queryUser" parameterType="com.huining.ssm.blog.entity.BlogUser" resultType="com.huining.ssm.blog.entity.BlogUser">
        select <include refid="userSql"/>
        from user
        <where>
            <if test="userId != null">and user_id = #{userId}</if>
            <if test="userName != null and userName!=''">and user_name = #{userName}</if>
            <if test="userPass != null and userPass!=''">and user_pass = #{userPass}</if>
            <if test="userNickname != null and userNickname!=''">and user_nickname = #{userNickname}</if>
            <if test="userEmail != null and userEmail!=''">and user_email = #{userEmail}</if>
            <if test="userUrl != null and userUrl!=''">and user_url = #{userUrl}</if>
            <if test="userAvatar != null and userAvatar!=''">and user_avatar = #{userAvatar}</if>
            <if test="userLastLoginIp != null and userLastLoginIp!=''">and user_last_login_ip = #{userLastLoginIp}</if>
            <if test="userRegisterTime != null">and user_register_time = #{userRegisterTime}</if>
            <if test="userLastLoginTime != null">and user_last_login_time = #{userLastLoginTime}</if>
            <if test="userStatus != null">and user_status = #{userStatus}</if>
        </where>
        limit 1
    </select>

    <update id="updateUser" parameterType="com.huining.ssm.blog.entity.BlogUser">
        update user
        <include refid="suUserSql"/>
        where user_id = #{userId}
    </update>

    <select id="listUser" resultType="com.huining.ssm.blog.entity.BlogUser">
        select <include refid="userSql"/>
        from user
        ORDER BY `user_status` ASC
    </select>

    <insert id="insertUser" parameterType="com.huining.ssm.blog.entity.BlogUser"  useGeneratedKeys="true" keyProperty="userId">
        insert into user <include refid="suUserSql"/>;
    </insert>

    <delete id="deleteUser">
        delete from user where user_id = #{userId}
    </delete>
</mapper>